<section class="aligncenter bg-trans-dark">
  <h1 class="color-primary">The Motivation behind this little project</h1>
</section>

<section class="aligncenter bg-trans-dark">
  <h2 class="v-offset-bottom-medium">Current Situation with IRI & Nelson:</h2>
  <div class="grid v-offset-bottom-medium">
    <div class="column">
      <ul>
        <li>- It's hard to scale</li>
        <li>- No LB solution</li>
      </ul>
    </div>
  </div>
  <h5>Many people already discovered that, at some point, a full-node can be really slow.</h5>
</section>

<section class="aligncenter bg-trans-dark">
  <h2>And we want to have it cheap, fast and scalable and state of the art.</h2>
  <h3>ARM processors & IPv6</h3>
</section>
