<section class="aligncenter bg-trans-dark">
  <h1 class="">The 4 steps of frustration:</h1>
</section>

<section class="aligncenter bg-trans-dark">
  <h1 class="">1. Use kubespray, which doesn't work, because of IPv6 and the ARM architecture.</h1>
</section>

<section class="aligncenter bg-trans-dark">
  <h1 class="">2. Look up for kubeadm (kubernetes deployment-tool), which is still alpha. So, don't use it.</h1>
</section>

<section class="aligncenter bg-trans-dark">
  <h1 class="">3. Start writing your own ansible script.</h1>
</section>

<section class="aligncenter bg-trans-dark">
  <h2>4. Start cloning github project and compile them. Until you discover the following...</h2>
  <section class="aligncenter" style="padding-top: 2rem;padding-bottom: 2rem; min-height: 0vh;">
    <pre class="text-shadow-none">
      <code class="bash">
        citrullin@WT-LAP82:~$ host github.com
        github.com has address 192.30.253.112
        github.com has address 192.30.253.113
        github.com mail is handled by 5 alt1.aspmx.l.google.com.
        github.com mail is handled by 5 alt2.aspmx.l.google.com.
        github.com mail is handled by 10 alt4.aspmx.l.google.com.
        github.com mail is handled by 1 aspmx.l.google.com.
        github.com mail is handled by 10 alt3.aspmx.l.google.com.
      </code>
    </pre>
  </section>
  <h2>6 years since the world launch of IPv6...</h2>
</section>


<section class="aligncenter bg-trans-dark">
  <h1 class="">Questions?</h1>
</section>
