<section class="aligncenter bg-trans-dark">
  <h1 class="color-primary">What is Kubernetes?</h1>
</section>

<section class="aligncenter bg-trans-dark">
  <h1 class="">A platform & toolkit for developing distributed system/applications</h1>
</section>

<section class="aligncenter bg-trans-dark">
  <h2 class="v-offset-bottom-medium">This includes:</h2>
  <div class="grid v-offset-bottom-medium">
    <div class="column">
      <ul>
        <li>- Service discovery & Load-Balancing</li>
        <li>- Distributed configuration management</li>
        <li>- Resource allocation</li>
        <li>- Container orchestration</li>
        <li>- Canary Deployments</li>
      </ul>
    </div>
  </div>
  <h5>In short: Everything you need to build a highly distributed system.</h5>
</section>

<section class="aligncenter bg-trans-dark">
  <h3 class="">One bad point I discovered: It highly depends on distributed file-storage systems. </h3>
  <h4>Local Storage is, at the moment, in alpha. You have to activate it.</h4>
</section>
